<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>

<style>

body{
background:#0f172a;
font-family:Arial;
color:white;
padding:30px;
}

h1{
color:#00ffff;
}

input{
padding:12px;
width:300px;
}

button{
padding:12px;
background:#00c6ff;
border:none;
color:white;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

th,td{
border:1px solid #444;
padding:10px;
text-align:center;
}

th{
background:#00c6ff;
}
</style>

</head>

<body>

<h1>📊 Dashboard Akun Game</h1>

<form method="POST">

<input
type="password"
name="master"
placeholder="Master Password"
required>

<button>
LIHAT DATA
</button>

</form>

{% if hasil %}

<table>

<tr>
<th>Game</th>
<th>Username</th>
<th>Password</th>
</tr>

{% for item in hasil %}

<tr>
<td>{{ item.game }}</td>
<td>{{ item.username }}</td>
<td>{{ item.password }}</td>
</tr>

{% endfor %}

</table>

{% endif %}

</body>
</html>
